### Update locally stored NIPA tables

In [1]:
import sys
sys.path.append('../src')

import uschartbook.config

from uschartbook.config import *
from uschartbook.utils import *

In [2]:
# Request NIPA tables data from BEA API

table_list = ['T20304', 'T70100', 'T10101', 'T10502', 
              'T11706', 'T11000', 'T20100', 'T10105',
              'T10106', 'T50100', 'T20302', 'T40202', 
              'T40100', 'T11400', 'T11200', 'T10705', 
              'T30300', 'T30200', 'T40205', 'T10205',
              'T10103', 'T10503', 'T10505']

#table_list = ['T20600']

api_results = bea_api_nipa(table_list, bea_key)

bea_to_db(api_results)

In [6]:
s = ['W162RC', 'W994RC', 'AD01RC']
(nipa_df(retrieve_table('T50100')['Data'], s).div(
 nipa_df(retrieve_table('T10105')['Data'], ['A191RC'])['A191RC'], axis=0)) * 100

              W162RC    W994RC    AD01RC
1988-01-01 -2.503325  2.534448 -5.038148
1988-04-01 -2.121141  2.761002 -4.882220
1988-07-01 -2.017705  2.359434 -4.376911
1988-10-01 -2.217739  2.318211 -4.535561
1989-01-01 -1.938271  2.087620 -4.026271
...              ...       ...       ...
2019-01-01 -2.592784  4.320923 -6.913702
2019-04-01 -2.411099  4.699023 -7.110122
2019-07-01 -2.355451  5.060629 -7.416089
2019-10-01 -2.044878  5.408009 -7.452887
2020-01-01       NaN       NaN       NaN

[129 rows x 3 columns]

In [ ]:
nipa_series_codes(retrieve_table('T40205'))

In [ ]:
# Use examples for viewing the retrieved data

cd_gdp = (nipa_df(retrieve_table('T10105')['Data'], ['A191RC'])
          .sort_index().iloc[-1].values[0])

rgdp = nipa_df(retrieve_table('T10106')['Data'], ['A191RX']).sort_index()
rgdp_cd = rgdp / rgdp.iloc[-1] * cd_gdp