### Update locally stored NIPA tables

In [1]:
import sys
sys.path.append('../src')

import uschartbook.config

from uschartbook.config import *
from uschartbook.utils import *

In [2]:
# Request NIPA tables data from BEA API

table_list = ['T20304', 'T70100', 'T10101', 'T10502', 
              'T11706', 'T11000', 'T20100', 'T10105',
              'T10106', 'T50100', 'T20302', 'T40202', 
              'T40100', 'T11400', 'T11200', 'T10705', 
              'T30300', 'T30200', 'T40205', 'T10205',
              'T10103', 'T10503', 'T10505', 'T30100']

#table_list = ['T20600']

api_results = bea_api_nipa(table_list, bea_key)

bea_to_db(api_results)

In [6]:
s = ['W162RC', 'W994RC', 'AD01RC']
(nipa_df(retrieve_table('T50100')['Data'], s).div(
 nipa_df(retrieve_table('T10105')['Data'], ['A191RC'])['A191RC'], axis=0)) * 100

              W162RC    W994RC    AD01RC
1988-01-01 -2.503325  2.534448 -5.038148
1988-04-01 -2.121141  2.761002 -4.882220
1988-07-01 -2.017705  2.359434 -4.376911
1988-10-01 -2.217739  2.318211 -4.535561
1989-01-01 -1.938271  2.087620 -4.026271
...              ...       ...       ...
2019-01-01 -2.592784  4.320923 -6.913702
2019-04-01 -2.411099  4.699023 -7.110122
2019-07-01 -2.355451  5.060629 -7.416089
2019-10-01 -2.044878  5.408009 -7.452887
2020-01-01       NaN       NaN       NaN

[129 rows x 3 columns]

In [3]:
nipa_series_codes(retrieve_table('T30100'))

{'W021RC': 'Current receipts',
 'W054RC': 'Current tax receipts',
 'W055RC': 'Personal current taxes',
 'W056RC': 'Taxes on production and imports',
 'W025RC': 'Taxes on corporate income',
 'W008RC': 'Taxes from the rest of the world',
 'W782RC': 'Contributions for government social insurance',
 'A061RC': 'From persons',
 'W781RC': 'From the rest of the world',
 'W058RC': 'Income receipts on assets',
 'W059RC': 'Interest and miscellaneous receipts',
 'Y703RC': 'Interest receipts',
 'Y704RC': 'Rents and royalties',
 'W065RC': 'Dividends',
 'W060RC': 'Current transfer receipts',
 'W061RC': 'From business (net)',
 'W062RC': 'From persons',
 'LA000014': 'From the rest of the world',
 'A108RC': 'Current surplus of government enterprises',
 'W022RC': 'Current expenditures',
 'A955RC': 'Consumption expenditures',
 'A084RC': 'Current transfer payments',
 'W063RC': 'Government social benefits',
 'A063RC': 'To persons',
 'W016RC': 'To the rest of the world',
 'W017RC': 'Other current transfer payments to the rest of the world',
 'A180RC': 'Interest payments',
 'A204RC': 'To persons and business',
 'Y712RC': 'To the rest of the world',
 'A107RC': 'Subsidies',
 'A922RC': 'Net government saving',
 'A221RC': 'Social insurance funds',
 'A391RC': 'Other',
 'W066RC': 'Total receipts',
 'W067RC': 'Capital transfer receipts',
 'W068RC': 'Total expenditures',
 'A782RC': 'Gross government investment',
 'W069RC': 'Capital transfer payments',
 'AD07RC': 'Net purchases of nonproduced assets',
 'A264RC': 'Less: Consumption of fixed capital',
 'AD01RC': 'Net lending or net borrowing (-)'}

In [ ]:
# Use examples for viewing the retrieved data

cd_gdp = (nipa_df(retrieve_table('T10105')['Data'], ['A191RC'])
          .sort_index().iloc[-1].values[0])

rgdp = nipa_df(retrieve_table('T10106')['Data'], ['A191RX']).sort_index()
rgdp_cd = rgdp / rgdp.iloc[-1] * cd_gdp