In [1]:
import sys
sys.path.append('../src')

import uschartbook.config

from uschartbook.config import *
from uschartbook.utils import *

In [2]:
# Request NIPA tables data from BEA API

table_list = ['T20304', 'T70100', 'T10101', 'T10502', 
              'T11706', 'T11000', 'T20100', 'T10105',
              'T10106', 'T50100', 'T20302', 'T40202', 
              'T40100', 'T11400', 'T11200', 'T10705', 
              'T30300', 'T30200']

table_list = ['T30200']

api_results = bea_api_nipa(table_list, bea_key)

bea_to_db(api_results)

In [18]:
s = ['W162RC', 'W994RC', 'AD01RC']
(nipa_df(retrieve_table('T50100')['Data'], s).div(
 nipa_df(retrieve_table('T10105')['Data'], ['A191RC'])['A191RC'], axis=0)) * 100

              W162RC    W994RC    AD01RC
1989-01-01 -1.938271  2.087620 -4.026271
1989-04-01 -1.669819  2.703002 -4.373000
1989-07-01 -1.436203  3.158446 -4.594332
1989-10-01 -1.539053  3.354360 -4.893169
1990-01-01 -1.547397  3.679516 -5.227067
1990-04-01 -1.225078  4.076860 -5.302106
1990-07-01 -1.372093  3.892976 -5.264952
1990-10-01 -1.376647  4.712599 -6.089030
1991-01-01  0.698240  5.987412 -5.289223
1991-04-01  0.231848  6.478961 -6.247146
1991-07-01 -0.467939  6.309958 -6.777784
1991-10-01 -0.270842  6.542204 -6.812966
1992-01-01 -0.345948  6.984251 -7.330010
1992-04-01 -0.615229  6.649494 -7.264615
1992-07-01 -0.712008  6.697838 -7.409831
1992-10-01 -1.027002  6.093534 -7.120716
1993-01-01 -0.890993  6.201583 -7.092636
1993-04-01 -1.097175  5.399064 -6.496181
1993-07-01 -1.131356  5.373347 -6.504732
1993-10-01 -1.546251  4.156571 -5.702836
1994-01-01 -1.308917  3.958386 -5.267318
1994-04-01 -1.556700  3.279719 -4.836406
1994-07-01 -1.674611  3.387675 -5.062300
1994-10-01 -1.861189  3.172312 -5.033434
1995-01-01 -1.588054  3.413974 -5.002121
1995-04-01 -1.571218  3.445747 -5.017005
1995-07-01 -1.324513  3.133738 -4.458342
1995-10-01 -1.090808  3.182956 -4.273636
1996-01-01 -1.310840  2.969536 -4.280579
1996-04-01 -1.363714  2.283377 -3.647141
...              ...       ...       ...
2012-01-01 -3.051788  6.708616 -9.760422
2012-04-01 -2.918341  6.563101 -9.481449
2012-07-01 -2.607351  6.489200 -9.096545
2012-10-01 -2.337057  6.585800 -8.922851
2013-01-01 -2.461370  4.408190 -6.869542
2013-04-01 -2.371834  2.888467 -5.260301
2013-07-01 -2.199273  4.165787 -6.365072
2013-10-01 -1.782272  3.415918 -5.198196
2014-01-01 -2.162874  3.123355 -5.286235
2014-04-01 -1.980260  3.198485 -5.178746
2014-07-01 -2.024692  3.307038 -5.331731
2014-10-01 -2.409306  2.880939 -5.290245
2015-01-01 -2.406615  2.326640 -4.733249
2015-04-01 -2.185653  2.134290 -4.319943
2015-07-01 -2.483740  2.795012 -5.278753
2015-10-01 -2.241687  2.130313 -4.372000
2016-01-01 -2.531056  2.929427 -5.460484
2016-04-01 -2.216829  3.121109 -5.337938
2016-07-01 -2.324406  3.124544 -5.448950
2016-10-01 -2.374620  3.108502 -5.483121
2017-01-01 -2.350296  3.105438 -5.455735
2017-04-01 -2.669078  2.889069 -5.558152
2017-07-01 -2.344019  3.242008 -5.586021
2017-10-01 -2.393710 -1.772953 -0.620752
2018-01-01 -2.372426  4.084107 -6.456533
2018-04-01 -2.168475  4.482697 -6.651171
2018-07-01 -2.546671  3.959599 -6.506271
2018-10-01 -2.751911  4.127218 -6.879130
2019-01-01 -2.592784  4.320923 -6.913702
2019-04-01       NaN       NaN -7.003672

[122 rows x 3 columns]

In [3]:
nipa_series_codes(retrieve_table('T30200'))

{'W005RC': 'Current receipts',
 'W006RC': 'Current tax receipts',
 'A074RC': 'Personal current taxes',
 'W007RC': 'Taxes on production and imports',
 'B234RC': 'Excise taxes',
 'B235RC': 'Customs duties',
 'LA000237': 'Other',
 'B075RC': 'Taxes on corporate income',
 'W008RC': 'Taxes from the rest of the world',
 'W780RC': 'Contributions for government social insurance',
 'LA000012': 'From persons',
 'W781RC': 'From the rest of the world',
 'W009RC': 'Income receipts on assets',
 'B094RC': 'Interest receipts',
 'W053RC': 'Dividends',
 'LA000248': 'Federal Reserve banks',
 'LA000249': 'Other',
 'B1040C': 'Rents and royalties',
 'W011RC': 'Current transfer receipts',
 'W012RC': 'From business',
 'B233RC': 'From persons',
 'LA000028': 'From the rest of the world',
 'B097RC': 'Current surplus of government enterprises',
 'W013RC': 'Current expenditures',
 'A957RC': 'Consumption expenditures',
 'W014RC': 'Current transfer payments',
 'W015RC': 'Government social benefits',
 'B087RC': 'To persons',
 'W016RC': 'To the rest of the world',
 'W010RC': 'Other current transfer payments',
 'B089RC': 'Grants-in-aid to state and local governments',
 'W017RC': 'To the rest of the world',
 'A091RC': 'Interest payments',
 'B092RC': 'To persons and business',
 'B093RC': 'To the rest of the world',
 'B096RC': 'Subsidies',
 'A923RC': 'Net federal government saving',
 'B243RC': 'Social insurance funds',
 'B244RC': 'Other',
 'W018RC': 'Total receipts',
 'B232RC': 'Capital transfer receipts',
 'W019RC': 'Total expenditures',
 'A787RC': 'Gross government investment',
 'W020RC': 'Capital transfer payments',
 'AD08RC': 'Net purchases of nonproduced assets',
 'A918RC': 'Less: Consumption of fixed capital',
 'AD02RC': 'Net lending or net borrowing (-)'}

In [3]:
# Use examples for viewing the retrieved data

cd_gdp = (nipa_df(retrieve_table('T10105')['Data'], ['A191RC'])
          .sort_index().iloc[-1].values[0])

rgdp = nipa_df(retrieve_table('T10106')['Data'], ['A191RX']).sort_index()
rgdp_cd = rgdp / rgdp.iloc[-1] * cd_gdp