In [18]:
import sys
sys.path.append('../src')

import uschartbook.config

from uschartbook.config import *
from uschartbook.utils import *

In [ ]:
s = ['A191RL']

df = nipa_df(retrieve_table('T10502')['Data'], s).sort_index()

df.to_csv(data_dir / 'gdp.csv', index_label='date')

txt = f'{df.index[-1].year} Q{df.index[-1].quarter}: {df["A191RL"].iloc[-1]}\%'

write_txt(data_dir / 'gdp.txt', txt)

In [19]:
# Private fixed investment
s = ['A008RY', 'A011RY', 'A014RY']

(nipa_df(retrieve_table('T10502')['Data'], s)
 .to_csv(data_dir / 'inv.csv', index_label='date'))

In [24]:
# Import and Export share of GDP
s = ['B020RC', 'B021RC', 'A191RC']

data = nipa_df(retrieve_table('T10105')['Data'], s)
((data.div(data['A191RC'], axis=0) * 100)
      .to_csv(data_dir / 'eximgdp.csv', index_label='date'))

#(nipa_df(retrieve_table('T10105')['Data'], s)
# .to_csv(data_dir / 'eximgdp.csv', index_label='date'))

In [23]:
((data.div(data['A191RC'], axis=0) * 100)
      .to_csv(data_dir / 'eximgdp.csv', index_label='date'))

               B020RC     B021RC  A191RC
1989-01-01   8.803606  10.635585   100.0
1989-04-01   9.037547  10.608337   100.0
1989-07-01   8.943272  10.261449   100.0
1989-10-01   8.967561  10.407645   100.0
1990-01-01   9.164982  10.672551   100.0
1990-04-01   9.159772  10.314700   100.0
1990-07-01   9.229232  10.475309   100.0
1990-10-01   9.462302  10.779530   100.0
1991-01-01   9.497268  10.278355   100.0
1991-04-01   9.641689  10.020154   100.0
1991-07-01   9.677749  10.017327   100.0
1991-10-01   9.820625  10.188617   100.0
1992-01-01   9.826764  10.149499   100.0
1992-04-01   9.676803  10.183513   100.0
1992-07-01   9.736561  10.322675   100.0
1992-10-01   9.600582  10.306186   100.0
1993-01-01   9.564008  10.391771   100.0
1993-04-01   9.591715  10.519715   100.0
1993-07-01   9.457828  10.451043   100.0
1993-10-01   9.575493  10.622709   100.0
1994-01-01   9.573712  10.706356   100.0
1994-04-01   9.755688  11.005486   100.0
1994-07-01  10.051500  11.372834   100.0
1994-10-01  10.175945  11.542934   100.0
1995-01-01  10.390055  11.790281   100.0
1995-04-01  10.537545  11.981841   100.0
1995-07-01  10.821105  11.790033   100.0
1995-10-01  10.799765  11.697535   100.0
1996-01-01  10.776431  11.904922   100.0
1996-04-01  10.694126  11.860699   100.0
...               ...        ...     ...
2012-01-01  13.512058  17.351704   100.0
2012-04-01  13.571658  17.165613   100.0
2012-07-01  13.543455  16.870225   100.0
2012-10-01  13.488780  16.776533   100.0
2013-01-01  13.513689  16.633036   100.0
2013-04-01  13.527329  16.586190   100.0
2013-07-01  13.469505  16.415024   100.0
2013-10-01  13.665172  16.246963   100.0
2014-01-01  13.656649  16.616784   100.0
2014-04-01  13.693154  16.605135   100.0
2014-07-01  13.497000  16.274765   100.0
2014-10-01  13.288009  16.225878   100.0
2015-01-01  12.717784  15.678898   100.0
2015-04-01  12.647526  15.387769   100.0
2015-07-01  12.320373  15.225722   100.0
2015-10-01  12.073419  14.877723   100.0
2016-01-01  11.750123  14.584405   100.0
2016-04-01  11.847561  14.505351   100.0
2016-07-01  11.986924  14.644131   100.0
2016-10-01  11.874273  14.812144   100.0
2017-01-01  12.002242  14.977277   100.0
2017-04-01  11.950328  14.965958   100.0
2017-07-01  12.034105  14.841541   100.0
2017-10-01  12.301617  15.294301   100.0
2018-01-01  12.282728  15.402110   100.0
2018-04-01  12.401658  15.172921   100.0
2018-07-01  12.097947  15.333422   100.0
2018-10-01  12.013305  15.287085   100.0
2019-01-01  11.945110  14.949296   100.0
2019-04-01  11.733832  14.839041   100.0

[122 rows x 3 columns]

In [ ]:
s = ['DPCERY', 'A006RY', 'A822RY', 'A019RY']

(nipa_df(retrieve_table('T10502')['Data'], s)
 .to_csv(data_dir / 'comp.csv', index_label='date'))

In [ ]:
s = ['A939RC', 'A939RX']

df = nipa_df(retrieve_table('T70100')['Data'], s)
df['value'] = (df['A939RX'] / df['A939RX'].iloc[-1])  * df['A939RC'].iloc[-1]
df[['value']].to_csv(data_dir / 'gdppc.csv', index_label='date')

In [ ]:
s = ['A261RX', 'W256RX']
rgdi = nipa_df(retrieve_table('T11706')['Data'], s).dropna()

s = ['A261RC', 'A4002C', 'W056RC', 'A107RC', 'W271RC', 'A262RC']
df = nipa_df(retrieve_table('T11000')['Data'], s).dropna()

# Calculate indirect taxes net of transfers
df['indirect'] = df['W056RC'] - df['A107RC']
df = df.drop(['A107RC', 'W056RC'], axis=1)

# Calculate GDI deflator from real GDI series
deflator = rgdi['A261RX'] / df['A261RC']
deflator = deflator / deflator.iloc[-1]
df = df.multiply(deflator, axis=0)

# Calculate contributions to growth
dft = df.diff()
dft = dft.div(dft['A261RC'], axis=0)
contr = dft.multiply((((df['A261RC'].pct_change() + 1) ** 4) - 1) * 100, axis=0)
contr.round(2).to_csv(data_dir / 'gdi.csv', index_label='date')

### Consumer Spending

In [ ]:
s = ['DGDSRY', 'DHCERY', 'DHUTRY', 'A011RY']

(nipa_df(retrieve_table('T10502')['Data'], s)
 .assign(OTHSER = lambda x: x['DHCERY'] - x['DHUTRY'],
         HOUSING = lambda x: x['A011RY'] + x['DHUTRY'])
 .drop('DHCERY', axis=1)
 .to_csv(data_dir / 'pce.csv', index_label='date'))

### Trade Contribution to GDP

In [ ]:
s = ['A019RY', 'A253RY', 'A646RY', 'A255RY', 'A656RY']
df = nipa_df(retrieve_table('T10502')['Data'], s)
df.to_csv(data_dir / 'nx.csv', index_label='date')

In [ ]:
sl = [('A253RY', 'main'), ('A646RY', 'end'), 
      ('A255RY', 'main'), ('A656RY', 'end')]

d = {}

for s, style in sl:
    # Latest total value
    value = df[s].iloc[-1]
    d[s] = cont_subt(value, style=style)

# Text for household expenditure section
q = {1: 'first', 2: 'second', 3: 'third', 4: 'fourth'}
    
ld2 = f'{q[df.index[-1].quarter]} quarter of {df.index[-1].year}'


text = f"Goods exports {d['A253RY']} GDP growth in the {ld2} while services exports {d['A646RY']}. Good imports {d['A255RY']} GDP growth and services imports {d['A656RY']}."
# Print to file
f = text_dir.joinpath('trade.txt')
with f.open('w') as text_file:
    text_file.write(text)

### Business investment

In [ ]:
s = ['Y001RY', 'A009RY', 'Y033RY']

In [ ]:
df = nipa_df(retrieve_table('T10502')['Data'], s)
df.to_csv(data_dir / 'businv.csv', index_label='date')

### Government spending and investment

In [ ]:
s = ['A824RY', 'A825RY', 'A829RY']

In [ ]:
df = nipa_df(retrieve_table('T10502')['Data'], s)
df.to_csv(data_dir / 'gov.csv', index_label='date')

### Personal Income

In [ ]:
s = ['DPCERG']

d = nipa_df(retrieve_table('T20304')['Data'], s)['DPCERG']
deflator = d.iloc[-1] / d

s = ['A065RC', 'A033RC', 'A041RC', 'A048RC', 'W210RC', 'A577RC', 'A061RC']

df = (nipa_df(retrieve_table('T20100')['Data'], s)
      .assign(CAPITAL = lambda x: x['A041RC'] + x['A048RC'] + x['W210RC'],
              TRANSFER = lambda x: x['A577RC'] - x['A061RC'])
      .drop(['A061RC', 'A041RC', 'A048RC', 'W210RC', 'A577RC'], axis=1)
      .multiply(deflator, axis=0))
growth_contrib(df, 'A065RC').to_csv(data_dir / 'pi.csv', index_label='date')

### Sectoral Accounts

In [ ]:
s = ['W162RC', 'W994RC', 'AD01RC']
df = (nipa_df(retrieve_table('T50100')['Data'], s).div(
      nipa_df(retrieve_table('T10105')['Data'], ['A191RC'])['A191RC'], axis=0)) * 100

data = pd.DataFrame()
data['PRIV'] = df['W994RC']
data['GOV'] = df['AD01RC']
data['ROW'] = -df['W162RC']
data = data.dropna()
date = f'{data.index[-1].year} Q{data.index[-1].quarter}'

In [ ]:
data.dropna().to_csv(data_dir / 'sectbal.csv', index_label='date')

In [ ]:
sectbaltxt = f"In {date}, the US private sector was a net lender (running a surplus) of the equivalent of {data['PRIV'].iloc[-1]:.1f} percent of GDP, compared to {data.loc['2015-01-01', 'PRIV']:.1f} percent in 2015 Q1. The rest of the world was a net lender to the US, to the equivalent of {data['ROW'].iloc[-1]:.1f} percent of GDP in {date} compared to {data.loc['2015-01-01', 'ROW']:.1f} percent in 2015 Q1. Balancing these transactions, the government (federal, state, and local combined) was a net borrower (running a deficit) of the equivalent of {data['GOV'].iloc[-1]:.1f} percent of GDP, compared to {data.loc['2015-01-01', 'GOV']:.1f} percent in 2015. "
print(sectbaltxt)

In [ ]:
# Print latest date to file
f = text_dir.joinpath('sectbal.txt')
with f.open('w') as wf:
    wf.write(sectbaltxt)

### Current Account Balance

In [ ]:
s = ['A191RC']

gdp = nipa_df(retrieve_table('T10105')['Data'], s)

s = ['A124RC', 'A253RC', 'A255RC', 'A646RC', 'B656RC', 'B645RC',
     'A655RC', 'A123RC']

df = (nipa_df(retrieve_table('T40100')['Data'], s)
      .assign(GOODS = lambda x: x['A253RC'] - x['A255RC'],
              SERVICES = lambda x: x['A646RC'] - x['B656RC'],
              INCOME = lambda x: x['B645RC'] - x['A655RC'],
              TRANSFERS = lambda x: - x['A123RC'])
      .drop(s[1:], axis=1).drop_duplicates())

data = (df.div(nipa_df(retrieve_table('T10105')['Data'], ['A191RC']
               )['A191RC'], axis=0).dropna().loc['1989':].multiply(100).round(2))

data.to_csv(data_dir / 'cab.csv', index_label='date')

In [ ]:
cab = abs(data['A124RC'].iloc[-1])
tb = abs(data['GOODS'].iloc[-1])
ld = f'{data.index[-1].year} Q{data.index[-1].quarter}'

text = f'As of {ld}, the US runs a current account deficit of {cab:.1f} percent of GDP, primarily as the result of a trade deficit on goods of {tb:.1f} percent of GDP.'

# Print latest date to file
f = text_dir.joinpath('cab.txt')
with f.open('w') as wf:
    wf.write(text)

### Wealth to GDP

In [ ]:
url = 'https://www.federalreserve.gov/datadownload/Output.aspx?rel=Z1&series=71f2e13e70c5d96bb5da3a65053d836e&lastobs=&from=03/01/1988&to=06/30/2019&filetype=csv&label=include&layout=seriescolumn'

In [ ]:
d = {'LM155035005.Q': 'Real Estate', 
     'FL892090005.Q': 'Total', 
     'LM883164105.Q': 'Corporate Equities'}

df = pd.read_csv(url, skiprows=5, index_col=0)[d.keys()].rename(d, axis=1)

df.index = pd.to_datetime(df.index)

df['Other'] = df['Total'] * 2 - df.sum(axis=1)

data = (df.div(nipa_df(retrieve_table('T10105')['Data'], ['A191RC']
               )['A191RC'], axis=0)).dropna().loc['1989':]
data.to_csv(data_dir / 'wealthgdp.csv', index_label='date')

In [ ]:
d89 = data.iloc[0].round(2)
dlt = data.iloc[-1].round(2)
date = f'{data.index[-1].year} Q{data.index[-1].quarter}'

In [ ]:
wealthtxt = f"The ratio of US total wealth, excluding public lands, to GDP increased to {dlt['Total']} in {date} from {d89['Total']} in 1989 Q1. The market value of corporate equities (see\cbox{{magenta!50!violet}}) increased to a {dlt['Corporate Equities']} multiple of GDP in {date} from {d89['Corporate Equities']} in 1989 Q1. The market value of residential real estate (see\cbox{{green!80!blue}}) increased to {dlt['Real Estate']} times GDP from {d89['Real Estate']} in 1989. The other category (see\cbox{{cyan!35!white}}), which includes tangible assets other than residential real estate less US financial obligations to the rest of the world, decreased to {dlt['Other']} from {d89['Other']} in 1989."

In [ ]:
# Print latest date to file
f = text_dir.joinpath('wealthgdp.txt')
with f.open('w') as wf:
    wf.write(wealthtxt)

In [ ]:
wealthtxt

### Household formation estimates

In [ ]:
%matplotlib inline
import requests

files = ['histtab8.xlsx', 'hist_tab_8a_v2018.xlsx']
url = 'https://www.census.gov/housing/hvs/data/'

results = {}

for file in files:
    #r = requests.get(f'{url}{file}')
    #with open(data_dir / file, 'wb') as output:
    #    output.write(r.content)
    data = pd.read_excel(data_dir / file).iloc[4:, :5]
    data.columns = ['category', 'Q1', 'Q2', 'Q3', 'Q4']
    years = []
    for h in data[data['Q1'] == '1st Qtr'].index - 1:
        year_raw = data.loc[h, 'Q1']
        if type(year_raw) == int:
            year = year_raw
        elif type(year_raw) == str:
            year = int(year_raw[:4])
        elif type(year) == float:
            year = year + 1
        years.append(year)
    data.loc[data['Q1'] == '1st Qtr', 'category'] = years
    data = data.dropna(subset=['category'])
    
    df = pd.DataFrame()
    for series in ['Owner', 'Renter']:
        srs = data.loc[data['category'].astype('str').str.contains(series)]
        srs.index = years
        srs = srs[['Q1', 'Q2', 'Q3', 'Q4']].unstack().swaplevel()
        srs.index = pd.to_datetime([f'{i[0]}-{i[1]}' for i in srs.index])
        srs = srs.sort_index()
        df[series] = srs
    df = df.dropna()
    df['Total'] = df.sum(axis=1)
    
    # Convert to share of total change
    for s in ['Owner', 'Renter']:  
        df[s] = ((df[s] - df[s].shift(4))
                  /df['Total'].shift(4)) * 100
        
    df = (df.reset_index()
            .drop_duplicates(subset='index', keep='last')
            .set_index('index'))
        
    #(df[['Owner', 'Renter']].dropna().rolling(4).mean().loc['1989':]
    #   .plot(kind='bar', stacked=True))
    
    results[file] = df[['Owner', 'Renter']].dropna().rolling(4).mean().loc['1989':]

In [ ]:
final = (results[files[0]].loc[:'2001-10-01']
         .append(results[files[1]]).dropna())

final['pop'] = (nipa_df(retrieve_table('T70100')['Data'], ['B230RC'])
                .pct_change(4).dropna() * 100)

final.to_csv(data_dir / 'hhform.csv', index_label='date')

In [ ]:
nipa_series_codes(retrieve_table('T11200'))

### Corporate Profits Destination

In [ ]:
s = ['A032RC', 'A438RC', 'A054RC', 'B056RC', 'A127RC']
cprof = nipa_df(retrieve_table('T11200')['Data'], s)

In [ ]:
cprof['NNI'] = cprof['A032RC'] - cprof['A438RC']
cprof['TAX'] = cprof['A054RC'] / cprof['NNI'] * 100 
cprof['DIV'] = cprof['B056RC'] / cprof['NNI'] * 100 
cprof['RE'] = cprof['A127RC'] / cprof['NNI'] * 100

In [ ]:
cprof[['TAX', 'DIV', 'RE']].to_csv(data_dir / 'cprof.csv', index_label='date')

### Gross Labor Income

In [4]:
# Series stored as a dictionary
series = {'LNS12005054': 'Hours', 'LNS12000000': 'Employment'}

# Start year and end year
dates = (1989, 2019)
emp_hrs = bls_api(series, dates, bls_key)

Post Request Status: REQUEST_SUCCEEDED

In [12]:
emp_hrs['Total'] = emp_hrs['Hours'] * 52/12 * emp_hrs['Employment']
emp = emp_hrs['Total'].resample('QS').sum()

In [9]:
s = ['A033RC']
coe = nipa_df(retrieve_table('T20100')['Data'], s)

s = ['DPCERG']
pce = nipa_df(retrieve_table('T20304')['Data'], s)

In [13]:
data = coe.join(pce).join(emp).dropna()

In [15]:
data = coe.join(pce).join(emp).dropna()
data['real_coe'] = data['A033RC'] / (data['DPCERG'] / data['DPCERG'].iloc[-1])
data['coe_inp'] = data['real_coe'] / data['Total']
data['wage'] = data['coe_inp'] * data['Total'].iloc[0]
data['work'] = data['real_coe'] - data['wage']
# Calculate contributions to growth
dft = data.diff()
dft = dft.div(dft['real_coe'], axis=0)
contr = dft.multiply(
    (((data['real_coe'].pct_change() + 1) ** 4) - 1) * 100, axis=0)

result = contr[['work', 'wage']]

In [17]:
result.dropna().to_csv(data_dir / 'gli.csv', index_label='date')