In [1]:
import sys
sys.path.append('../src')

import uschartbook.config

from uschartbook.config import *
from uschartbook.utils import *

In [4]:
s = ['A191RL']

(nipa_df(retrieve_table('T10502')['Data'], s)
 .to_csv(data_dir / 'gdp.csv', index_label='date'))

In [5]:
s = ['DPCERY', 'A006RY', 'A822RY', 'A019RY']

(nipa_df(retrieve_table('T10502')['Data'], s)
 .to_csv(data_dir / 'comp.csv', index_label='date'))

In [6]:
s = ['A939RC', 'A939RX']

df = nipa_df(retrieve_table('T70100')['Data'], s)
df['value'] = (df['A939RX'] / df['A939RX'].iloc[-1])  * df['A939RC'].iloc[-1]
df[['value']].to_csv(data_dir / 'gdppc.csv', index_label='date')

In [10]:
s = ['A261RX', 'W256RX']
rgdi = nipa_df(retrieve_table('T11706')['Data'], s).dropna()

s = ['A261RC', 'A4002C', 'W056RC', 'A107RC', 'W271RC', 'A262RC']
df = nipa_df(retrieve_table('T11000')['Data'], s).dropna()

# Calculate indirect taxes net of transfers
df['indirect'] = df['W056RC'] - df['A107RC']
df = df.drop(['A107RC', 'W056RC'], axis=1)

# Calculate GDI deflator from real GDI series
deflator = rgdi['A261RX'] / df['A261RC']
deflator = deflator / deflator.iloc[-1]
df = df.multiply(deflator, axis=0)

# Calculate contributions to growth
dft = df.diff()
dft = dft.div(dft['A261RC'], axis=0)
contr = dft.multiply((((df['A261RC'].pct_change() + 1) ** 4) - 1) * 100, axis=0)
chart_data = contr[['A4002C', 'W271RC', 'A262RC', 'indirect']].loc['1989':].round(2)

chart_data.to_csv(data_dir / 'gdi.csv', index_label='date')

In [11]:
chart_data

            A4002C  W271RC  A262RC  indirect
1989-01-01     NaN     NaN     NaN       NaN
1989-04-01    0.20   -1.46    0.33      0.23
1989-07-01    1.28   -0.42    0.51      0.29
1989-10-01    2.31   -2.10    0.51     -0.27
1990-01-01    2.06    0.73    0.19      0.90
1990-04-01    1.75    0.62    0.17     -0.30
1990-07-01    0.63   -1.54    0.35      0.27
1990-10-01   -1.06   -1.43    0.35      0.30
1991-01-01   -1.82    0.40    0.21      0.38
1991-04-01    1.04   -0.37    0.22      0.29
1991-07-01    1.03   -0.42    0.10      0.40
1991-10-01    1.76   -0.86    0.03      0.46
1992-01-01    4.34    2.46    0.05      0.18
1992-04-01    2.22    0.98    0.08      0.09
1992-07-01    1.17   -0.20    0.22      0.09
1992-10-01    1.45    2.17    0.27     -0.06
1993-01-01   -0.74   -0.67    0.39     -0.36
1993-04-01    2.01    2.37    0.34      0.19
1993-07-01    0.67   -0.45    0.31      0.27
1993-10-01    2.10    4.55    0.45      0.89
1994-01-01    0.34    0.84    0.40      0.66
1994-04-01    3.48    1.68    0.51      0.69
1994-07-01    0.98    2.05    0.53      0.21
1994-10-01    1.94    2.21    0.67      0.06
1995-01-01    1.32   -0.15    0.73     -0.21
1995-04-01    1.01    0.99    0.61     -0.27
1995-07-01    1.42    2.96    0.52      0.12
1995-10-01    1.34    0.79    0.40      0.10
1996-01-01    1.49    2.50    0.33      0.22
1996-04-01    2.88    2.43    0.37      0.27
...            ...     ...     ...       ...
2011-10-01   -1.52    4.45    0.51      0.20
2012-01-01    4.24    3.84    0.24      0.34
2012-04-01    0.35    0.72    0.44     -0.02
2012-07-01   -0.04   -2.33    0.32     -0.15
2012-10-01    4.25   -0.78    0.19      0.21
2013-01-01   -1.55    1.17    0.30      0.53
2013-04-01    1.49    0.35    0.52      0.05
2013-07-01   -0.38    0.07    0.41      0.21
2013-10-01    1.07    1.21    0.51      0.07
2014-01-01    3.16   -2.03    0.66      0.29
2014-04-01    0.18    5.39    0.26      0.25
2014-07-01    1.58    2.86    0.54      0.14
2014-10-01    3.10   -0.34    0.49      0.18
2015-01-01    2.98   -1.26    0.62      0.18
2015-04-01    1.10    0.01    0.11      0.09
2015-07-01    1.02   -0.44    0.28     -0.06
2015-10-01    1.40   -1.26    0.26      0.28
2016-01-01    0.88    0.90    0.23      0.10
2016-04-01   -0.22   -1.61    0.21     -0.13
2016-07-01    1.23    0.20    0.25      0.34
2016-10-01    1.35   -0.45    0.38      0.09
2017-01-01    1.59    1.79    0.34      0.11
2017-04-01    1.52    0.32    0.56      0.24
2017-07-01    1.40   -1.18    0.48      0.10
2017-10-01    2.03    0.16    0.30      0.22
2018-01-01    1.94    1.81    0.48      0.42
2018-04-01   -0.03    0.12    0.47      0.15
2018-07-01    1.39    1.26    0.59      0.05
2018-10-01    0.28   -0.11    0.53      0.07
2019-01-01    4.35   -1.95    0.73      0.06

[121 rows x 4 columns]

In [7]:
nipa_df(retrieve_table('T11000')['Data'], s)

                A261RC      A4002C     W056RC   A107RC     W271RC     A262RC
1989-01-01   5493644.0   3080126.0   391008.0  27952.0  1232034.0   818428.0
1989-04-01   5542420.0   3115774.0   397485.0  27389.0  1224867.0   831683.0
1989-07-01   5606037.0   3156319.0   403939.0  27096.0  1227987.0   844888.0
1989-10-01   5652240.0   3211327.0   403033.0  27275.0  1207122.0   858033.0
1990-01-01   5767812.0   3274921.0   419548.0  27125.0  1230448.0   870021.0
1990-04-01   5864799.0   3336913.0   419450.0  26950.0  1253156.0   882230.0
1990-07-01   5910743.0   3374835.0   426751.0  26930.0  1241072.0   895014.0
1990-10-01   5927023.0   3384050.0   434210.0  26967.0  1228865.0   906865.0
1991-01-01   5972649.0   3389868.0   444009.0  27137.0  1246939.0   918971.0
1991-04-01   6034081.0   3430273.0   451552.0  27213.0  1250523.0   928946.0
1991-07-01   6098155.0   3472728.0   461270.0  27504.0  1253881.0   937781.0
1991-10-01   6155738.0   3520192.0   471532.0  28098.0  1248239.0   943873.0
1992-01-01   6284521.0   3598666.0   476405.0  28575.0  1289855.0   948169.0
1992-04-01   6374987.0   3654900.0   481220.0  29224.0  1312910.0   955181.0
1992-07-01   6426443.0   3691394.0   485976.0  30392.0  1316113.0   963352.0
1992-10-01   6531606.0   3739889.0   489897.0  32161.0  1359704.0   974276.0
1993-01-01   6545416.0   3748676.0   489749.0  35468.0  1356292.0   986166.0
1993-04-01   6663732.0   3803527.0   497551.0  37558.0  1402676.0   997536.0
1993-07-01   6716772.0   3837401.0   504893.0  37688.0  1403471.0  1008696.0
1993-10-01   6884530.0   3892833.0   520314.0  36010.0  1485794.0  1021600.0
1994-01-01   6955743.0   3917304.0   531463.0  33567.0  1507257.0  1033285.0
1994-04-01   7097889.0   3995615.0   544395.0  32376.0  1543284.0  1046970.0
1994-07-01   7204883.0   4035771.0   550510.0  31945.0  1588276.0  1062270.0
1994-10-01   7330608.0   4092136.0   554622.0  32204.0  1636147.0  1079907.0
1995-01-01   7401194.0   4138481.0   555321.0  33964.0  1642205.0  1099150.0
1995-04-01   7480079.0   4176938.0   553593.0  34614.0  1668410.0  1115753.0
1995-07-01   7609555.0   4223789.0   558946.0  35147.0  1731206.0  1130762.0
1995-10-01   7696110.0   4269498.0   563750.0  35523.0  1754526.0  1143859.0
1996-01-01   7819355.0   4318408.0   570417.0  35502.0  1810456.0  1155575.0
1996-04-01   7965950.0   4391572.0   577683.0  35434.0  1864568.0  1167560.0
...                ...         ...        ...      ...        ...        ...
2012-01-01  16287864.0   8464321.0  1130877.0  58394.0  4214547.0  2536514.0
2012-04-01  16412965.0   8512111.0  1133897.0  58058.0  4260591.0  2564424.0
2012-07-01  16405780.0   8554266.0  1131325.0  56306.0  4185458.0  2591037.0
2012-10-01  16646793.0   8770786.0  1148361.0  59391.0  4175025.0  2612012.0
2013-01-01  16731616.0   8740945.0  1174626.0  59388.0  4240388.0  2635045.0
2013-04-01  16880295.0   8828114.0  1180836.0  60106.0  4267259.0  2664192.0
2013-07-01  16974269.0   8854208.0  1195039.0  59966.0  4290790.0  2694198.0
2013-10-01  17194479.0   8951284.0  1204149.0  59420.0  4367028.0  2731438.0
2014-01-01  17354076.0   9123341.0  1220520.0  58698.0  4298141.0  2770771.0
2014-04-01  17710493.0   9181919.0  1237477.0  58475.0  4552258.0  2797314.0
2014-07-01  18009844.0   9290227.0  1248360.0  58183.0  4696559.0  2832880.0
2014-10-01  18191296.0   9443131.0  1256977.0  57002.0  4689051.0  2859140.0
2015-01-01  18298594.0   9574131.0  1263765.0  56031.0  4630744.0  2885985.0
2015-04-01  18460943.0   9678149.0  1274993.0  56446.0  4657153.0  2907094.0
2015-07-01  18563637.0   9759858.0  1277780.0  57752.0  4653444.0  2930307.0
2015-10-01  18595588.0   9824798.0  1291887.0  58781.0  4595217.0  2942468.0
2016-01-01  18673493.0   9855419.0  1297074.0  60746.0  4631915.0  2949831.0
2016-04-01  18718347.0   9912395.0  1301200.0  62377.0  4587313.0  2979816.0
2016-07-01  18880601.0  10005765.0  1322263.0  63136.0  4613433.0  3002277.0
2016-10-01  19035543.0  10117334.0  1330492.0  60971.0  4614315.0  3034373.0
2017-01-01  19307009.0  10240318.0  1340752.0  59856.0  4720889.0  3064907.0
2017-04-01  19496930.0  10347076.0  1355145.0  58676.0  4751701.0  3101684.0
2017-07-01  19638393.0  10469702.0  1371392.0  63177.0  4719028.0  3141447.0
2017-10-01  19905592.0  10640787.0  1390566.0  62832.0  4759335.0  3177737.0
2018-01-01  20252224.0  10798854.0  1415754.0  59342.0  4876748.0  3220210.0
2018-04-01  20460054.0  10888846.0  1433886.0  58556.0  4924232.0  3271647.0
2018-07-01  20716900.0  11007341.0  1442348.0  58419.0  5009823.0  3315807.0
2018-10-01  20848620.0  11070435.0  1475167.0  81269.0  5026161.0  3358127.0
2019-01-01  21053545.0  11316495.0  1472314.0  72551.0  4935115.0  3402172.0
2019-04-01         NaN  11448233.0  1480021.0  62004.0        NaN  3446275.0

[122 rows x 6 columns]

In [6]:
rgdi

                A261RX      W256RX
1989-01-01   9072429.0   8004313.0
1989-04-01   9056524.0   7974893.0
1989-07-01   9094017.0   8000381.0
1989-10-01   9104115.0   7997160.0
1990-01-01   9191146.0   8073436.0
1990-04-01   9242182.0   8113394.0
1990-07-01   9235418.0   8094481.0
1990-10-01   9192414.0   8039117.0
1991-01-01   9173330.0   8009493.0
1991-04-01   9200177.0   8027572.0
1991-07-01   9225784.0   8044724.0
1991-10-01   9257931.0   8068959.0
1992-01-01   9416602.0   8223637.0
1992-04-01   9495081.0   8295142.0
1992-07-01   9525179.0   8316290.0
1992-10-01   9614885.0   8398039.0
1993-01-01   9581560.0   8352811.0
1993-04-01   9697043.0   8460063.0
1993-07-01   9716479.0   8468473.0
1993-10-01   9905151.0   8650042.0
1994-01-01   9959979.0   8694036.0
1994-04-01  10114631.0   8839487.0
1994-07-01  10208580.0   8921879.0
1994-10-01  10330667.0   9032239.0
1995-01-01  10373911.0   9060916.0
1995-04-01  10434325.0   9107002.0
1995-07-01  10562936.0   9222798.0
1995-10-01  10631831.0   9277083.0
1996-01-01  10750372.0   9381953.0
1996-04-01  10906738.0   9524501.0
...                ...         ...
2011-10-01  16062352.0  13528851.0
2012-01-01  16399359.0  13849717.0
2012-04-01  16460266.0  13893225.0
2012-07-01  16368962.0  13784272.0
2012-10-01  16524961.0  13922331.0
2013-01-01  16543164.0  13921026.0
2013-04-01  16642129.0  14000912.0
2013-07-01  16654844.0  13996050.0
2013-10-01  16772256.0  14095303.0
2014-01-01  16858942.0  14163629.0
2014-04-01  17109641.0  14395338.0
2014-07-01  17324316.0  14590179.0
2014-10-01  17470902.0  14717230.0
2015-01-01  17579643.0  14808004.0
2015-04-01  17636419.0  14846915.0
2015-07-01  17671626.0  14864153.0
2015-10-01  17701903.0  14876350.0
2016-01-01  17794317.0  14950395.0
2016-04-01  17716169.0  14854353.0
2016-07-01  17804723.0  14924874.0
2016-10-01  17865207.0  14967923.0
2017-01-01  18034149.0  15118943.0
2017-04-01  18151650.0  15217953.0
2017-07-01  18188275.0  15235858.0
2017-10-01  18310213.0  15338829.0
2018-01-01  18519700.0  15528571.0
2018-04-01  18552684.0  15539379.0
2018-07-01  18703063.0  15666144.0
2018-10-01  18739340.0  15678402.0
2019-01-01  18886660.0  15801115.0

[121 rows x 2 columns]